body{
	background-image:url(../imagenes/ropa.jpg);
	background-size:cover;
	background-size:!important;	
}


.panel{
	background-color: rgba(102,97,97,0.35);
	border-radius:5px;
	border:2px solid rgba(102,97,97,0.5); 
    margin-top:150px;
	text-align:center;
	}
	.panel-heading{
background-color:rgba(91,86,86,0.8);;
		text-align:center;
		color:#DDD0D0;
		font-size:16px;}
	.panel-body{
		background-color: rgba(140,137,137,0.05);
		border-bottom-left-radius:10px;
		border-bottom-right-radius:10px;
		border-top-left-radius:0px;
		border-top-right-radius:0px;}
		

/*hr{
	height:0.5px;
	background-color:rgba(102,97,97,0.6);
	border:1px solid rgba(102,97,97,0.6);
	}*/
.form-control{
	background-color:rgba(102,97,97,0.6);
	height:40px;
	color:#FFFCFC;
	border:none;
	border:3px inset rgba(102,97,97,0.04);
	box-shadow:2px;
	border-radius:10px;}